.about {
    padding: 10px 20px;
    width: 300px;
    font-size: 14px;
    color: #345;
}
.header {
    width: 290px;
    height: 90px;
    display: flex;
    flex-direction: row
}
.logo-content {
    flex: 1;
    padding-left: 10px;
}
.header .title {
    font-size: 24px;
    margin: 5px 5px;
}
.header .sub-title {
    font-size: 14px;
    margin: 0px 5px;
}
.footer {
    height: 15px;
    color: #789;
    margin: 5px;
    padding-top: 15px;
    border-top: solid 1px #eef;
    white-space: nowrap;
    display: flex;
    justify-content: center
}